.an-rating-summary {
    @extend %radius;
    @extend %padding-all-xxl;

    background-color: $light;
    position: relative;
    padding-bottom: $xxl;

    &__votes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $xl;

        @include mediaTo(lg) {
            grid-template-columns: 1fr;
        }

        @include mediaTo(md) {
            grid-template-columns: 1fr;
        }
    }

    &__dsc {
        @extend %padding-xxl;
        @extend %text-major;

        @include mediaTo(sm) {
            padding-bottom: $l !important;
        }
    }

    &__link {
        @extend %radius-s;
        @extend %padding-m;
        @extend %padding-site-m;
        @extend %text-major;
        @extend %absolute;

        top: unset;
        bottom: $xl;
        width: calc(100% - #{gutter(8)});

        display: block;
        background-color: $special;
        transition: $transition;
        color: $light;
        font-weight: $bold;
        text-align: center;

        @include mediaTo(lg) {
            position: initial;
            width: 100%;
        }

        &:hover {
            background-color: $special-light;
        }
    }
}