.an-card {
    @extend %radius;
    @extend %padding-all-xxl;

    background-color: $light;

    @include mediaTo(md) {
        display: block;
    }

    &--empty {
        grid-column: span 3;

        @include mediaTo(sm) {
            grid-column: span 1;
        }
    }

    &--holder-width {
        width: calc(100% / 3);
        height: auto;
        flex-shrink: 0;
        margin-right: $l;
        display: none;

        &.-fix {
            display: block;
        }
    }


    &__image-wrapper {
        @extend %radius;
        position: relative;
        // Ratio 6:9
        width: 100%;
        padding-top: 66.67%;
        border: 1px solid $gray;
        margin-bottom: $l;

        @include mediaTo(md) {
            width: 30%;
            float: left;
            padding-top: 20.37%;
            margin-right: $xl;
        }

        @include mediaTo(xs) {
            width: 100%;
            float: none;
            padding-top: 44.37%;
            margin-right: 0;
        }

        img {
            @extend %absolute;
            @extend %image;

            object-fit: contain;
            border: 0 !important;
            margin: 0 !important;
        }
    }

    &__title-wrapper {
        @extend %margin-l;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin: -$s;
    }

    &__title {
        @extend %sub-title;
        @extend %padding-all-s;
    }

    &__label {
        @extend %radius-s;
        @extend %label;
        @extend %padding-all-xs;
        @extend %padding-site-s;

        background-color: $gray;
        transition: $transition;
        font-weight: $bold;
        margin-right: $s;

        &:hover {
            background-color: $dark-gray;
        }

        &:first-child {
            margin-right: 0;
        }
    }

    &__excerpt {
        @extend %text;

        text-align: left;
        margin-top: $s;
        margin-bottom: $xl;
        display: block !important;
    }

    &__link {
        @extend %radius-s;
        @extend %padding-m;
        @extend %padding-site-m;
        @extend %text-major;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $dark;
        transition: $transition;
        color: $light;
        font-weight: $bold;
        text-align: center;

        svg {
            margin-right: $m;
        }

        &:hover {
            background-color: $light-dark;
        }

        &.-is-active {
            background-color: $special;
            font-weight: $bold;
        }
    }
}